<div class="row">
  <div class="col-md-12">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="col-sm-12">
    <div class=" card text-white bg-secondary">
      <div class="card-body">
        <div class="row">

          <div class="col-sm-3"></div>
          <div class="col-sm-4">
            <input class="form-control " [(ngModel)]="searchText" type="search" placeholder="Buscar autor o libro" aria-label="Search">
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3>Autores:</h3>
        <hr class="my-4">
        <div class="row">

            <div class="col-sm-4" *ngFor=" let nombre of arrayNombresAutores | search: searchText; let indice=index  ">
              <div *ngFor="let autor of autores">
                <div *ngIf="autor.nombre==nombre">
                  <div class="card">
                    <div align="center"><img class="card-img-top img-fluid" style="width: 50%" [src]=autor.urlImagen alt="Card image cap"></div>

                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center">{{autor.nombre}} </h5>
                      <p class="card-text">Apellido: {{autor.apellido}}</p>
                      <p class="card-text">Fecha de Nacimiento: {{autor.fechaNacimiento}}</p>
                      <a href="#" [routerLink]="['/autor',autor.id]" class="btn btn-primary"><i class="icon ion-md-today"></i> Detalles</a>

                    </div>
                  </div>
                </div>
              </div>
          </div>


        </div>
      </div>
      <div class="col-sm-12"><br></div>
      <div class="col-sm 6" align="right" *ngIf="arrayNombresAutores.length>3">
       <button type="button" class="btn " data-toggle="collapse" data-target="#demo">Más</button>
      <div id="demo" class="collapse">

      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3>Libros:</h3>
        <hr class="my-4">
        <div class="row">

          <div class="col-sm-4" *ngFor=" let nombreLibro of arrayNombresLibros | search: searchText">

            <div *ngFor="let libro of libros">
              <div *ngIf="libro.nombreLibro==nombreLibro">
                <div class="card">
                  <div align="center"><img class="card-img-top img-fluid" [src]=libro.urlImagen alt="Imagen Jugador"></div>
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">{{libro.nombreLibro}} </h5>
                    <p class="card-text">Número de Páginas: {{libro.numeroPaginas}}</p>
                    <a href="#" [routerLink]="['/autor',libro.autorIdFk.id,'libro',libro.id]" class="btn btn-primary"><i class="icon ion-md-today"></i> Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12"><br></div>
          <div class="col-sm 6" align="right" *ngIf="arrayNombresLibros.length>3">
            <button type="button" class="btn " data-toggle="collapse" data-target="#demo">Más</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>



